*::selection {
    background-color: #A31D1D;
    color: #E5D0AC;
}
* {
    margin: 0;
}

html {
    font-size: larger;
    scrollbar-color: #A31D1D #6D2323;
    scrollbar-gutter: both;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #FEF9E1;
    color: #FEF9E1;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #A31D1D;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 7vh;
    align-content: center;
}
.title {
    margin: 0 auto;
    width: fit-content;
}
hr {
    width: 50px;
    border: 2px solid #FEF9E1;
    border-radius: 25px;
    margin: 10px auto 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 75vw;
    height: fit-content;
    min-width: 90vh;
}
.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
}
.fotos img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 17px 0 #000;
    border-radius: 25px;
    transition: ease .2s;
    user-select: none;
    -webkit-user-drag: none;
}
.fotos img:hover {
    transform: scale(1.2);
}

.preferenze h1 {
    width: 100%;
    padding: 15px;
    box-sizing: inherit;
    background-color: #6D2323;
    text-align: center;
    border-radius: 20px 20px 0 0;
}
.preferenze {
    width: 450px;
    box-sizing: border-box;
    background-color: #E5D0AC;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 40px;
    color: #000;
    height: fit-content;
    min-height: 50vh;
    padding: 20px 0;
}
.voce {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 130px;
    width: 100%;
    position: relative;
}

#history {
    width: 100%;
}
#history p {
    text-indent: 30px;
    margin: 10px 0;
}

.blur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
}
.answer {
    width: 500px;
    height: 200px;
    background-color: #A31D1D;
    box-sizing: border-box;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.answer h2 {
    border-radius: 20px 20px 0 0;
    background-color: #6D2323;
    padding: 20px;
}
.input {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 0 25px;
}
.answer input {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}
.answer button {
    width: 100px;
    padding: 10px;
}